@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: ghostwhite;
}
p{
    margin: 0;
}
h2{
    margin-bottom: 30px;
}
.form-container{
    max-width: 1400px;  
    margin: auto;
}
.form-container > div{
    padding: 20px 30px;
    margin-block: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgb(218, 218, 218);

}
.form-container > div:last-child{
    background-color: transparent;
    margin: 0;
    padding: none;
    display: flex;
    justify-content: flex-end;
    box-shadow: none;
}
.submit-button {
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    border-radius: 3px;
}
.section-label{
    font-weight: 700;
    font-size: 1.25rem;
    color: #262626;
}

.section1-wrapper, .section2-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.section1-wrapper > div:first-child, .section2-wrapper > div:first-child{
    border-right: thin solid rgb(231, 231, 231);
    padding-right: 25px;
    width: 50%;
    
}
.trueFalseGroup div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.true-button.ant-radio-button-wrapper-checked{
    background-color: #00743f !important;
    border: thin solid #1d3e11 !important;
}
.false-button.ant-radio-button-wrapper-checked{
    background-color: #BB2222 !important;
    border: thin solid #5c0000 !important;
}

.true-button.ant-radio-button-wrapper:hover{
    color: #54da23 !important;
}
.false-button.ant-radio-button-wrapper:hover{
    color: #BB2222 !important;
}
.false-button.ant-radio-button-wrapper-checked:hover, 
.true-button.ant-radio-button-wrapper-checked:hover{
    color: white !important;
}

.subgroup-label{
    font-weight: 500;
    font-size: 1.1rem;
    font-style: italic;
}
.dateInputContainer{
    width: 650px;
}
.dateInputContainerRow{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(12, 1fr);
}

.dateInputContainer > .subgroup:first-child{
    margin-bottom: 20px;
}

.dateInputContainerRow > div{
    grid-column: span 6;
}
.dateInputContainerRow div:first-child{
    grid-column: span 12;
}
.dateInputContainerRow div:first-child input{
    text-align: center;
}
.dateInputContainerRow .ant-input-number{
    width: 100% !important;
}
.todays-date{
    position: absolute;
    top: 7px;
    right: 10px;
    color: rgb(181, 181, 181);
}
.minimumMaximumLabel{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #1980ff4f;
    text-transform: uppercase;
    font-weight: 600;
    gap: 110px;
    margin-right: 50px;
}
.minimumMaximumLabel p{
    margin: 0;
}
.minMaxGroup{
    width: 650px;
}

.ant-tag-checkable{
    background-color: rgb(252, 252, 252);
    margin-right: 4px;
}
.ant-tag-checkable-checked{
    background-color: #1980FF;
}

.tag-row{
    display: flex;
}
.tag-row span{
    padding: 4px 15px;
    border: thin solid rgb(242, 242, 242);
    border-radius: 4px;
}
.tag-row p{
    width: 200px;
}
.duoNumberInputContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.duoNumberInputContainer p {
    margin-block: auto;
    min-width: 200px;
    width: max-content;
}
.duoNumberInputContainer input{
    text-align: center;
}
.min-max-inputs{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
.min-max-inputs > div{
    width: 35%;   
}
.error-label-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
.error-label-row h2{
    margin-bottom: 0;
    padding-block: 8px;
}
.error-box{
    border: 2px solid rgb(255, 132, 132);
    background-color: rgba(255, 0, 0, 0.2);
    padding: 8px;
    border-radius: 4px;
    font-weight: 600;
    color: rgb(63, 63, 63);
}
.site-collapse-custom-collapse{
    background-color: white;
}
.email-section{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.email-section > div:last-child{
    border-left: thin solid rgb(231, 231, 231);
    padding-left: 15px;
}
.email-radio-container > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 630px;
}
.subgroup > div{
    padding-left: 15px;
}
.email-tag-container{
    width: 50%;
}
.email-tag-container input{
    width:30%;
}
.tag-input{
    border: thin solid rgb(168, 168, 168) !important;
    height: 22px !important;
}
.ant-input:focus,
.ant-input-focused{
    box-shadow: none;
}
.table-container{
    display: flex;
    align-items: flex-start;
    width: 1400px;
    max-width: 1400px;
    margin: auto;
}
.table-header-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr); /*repeat(33,1fr)*/
    border-top-left-radius: 10px;
    background: #1980FF;
    color: white;
    width: max-content;
}
.table-header-item{
    border-bottom: thin solid white; /*border-right*/
    padding: 5px 15px;
}
.table-body-container{
    display: flex;
    flex: 1;
    overflow-x: auto;
}
.scrollable{
    display: flex;
    min-width: 1400px;
}
.table-row-item{
    border-bottom: thin solid black;
    border-right: thin solid black;
    min-height: 33px;
    padding: 5px 15px;
}
.table-row-item:first-child{
    border-top: thin solid black;
}
@media screen and (max-width: 960px){
    .form-container > div{
        padding: 5px 10px;
    }
    .dateInputContainer{
        width: 100%;
    }
    .todays-date{
        left: 0;
        top: 25px;
    }
    .section2-wrapper > div:first-child{
        width: 70%;
    }
    .tag-row{
        display: grid;
        grid-template-columns: auto;
        gap: 5px;
    }
    .minMaxGroup{
        width: 100%;
    }
    .minimumMaximumLabel{
        width: 100%;
        gap: 60px;
        padding-right: 30px;
    }
    .email-radio-container > div{
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .section1-wrapper, .section2-wrapper{
        flex-direction: column;
        padding: 0 0;
    }
    .section2-wrapper{
        gap: 0px;
    }
    .section1-wrapper > div:first-child, .section2-wrapper > div:first-child{
        width: 90%;
        border-right: none;
        border-bottom: thin solid rgb(231, 231, 231);
        padding: 0;
    }
    .dateInputContainer{
        width: 90%;
    }
    .subgroup > div{
        padding: 0;
    }
    .tag-row{
        display: grid;
        grid-template-columns: auto;
        gap: 5px;
    }
    .tag-input-group{
        margin-bottom: 30px;
    }
    .minMaxGroup{
        width: 100%;
    }
    .error-label-row{
        margin-bottom: 0px;
        flex-direction: column;
        width: 100%;    
        align-items: flex-start;
    }
    .minimumMaximumLabel{
        display: none;
    }
    .duoNumberInputContainer{
        display: grid;
        grid-template-columns: auto;
    }
    .duoNumberInputContainer p {
        font-size: 16px;
        font-weight: 500;
    }
    .min-max-inputs{
        justify-content: flex-start;
    }
    .email-section{
        flex-direction: column;
    }
    .email-section > div:last-child{
        padding-left: 0;
        border: none;
    }
    .email-tag-container{
        width: 100%;
    }
}