@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: ghostwhite;
}
p{
    margin: 0;
}
h2{
    margin-bottom: 30px;
}
.form-container{
    max-width: 1400px;
    margin: auto;
}
.form-container > div{
    padding: 20px 30px;
    margin-block: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgb(218, 218, 218);
}
.form-container > div:last-child{
    background-color: transparent;
    margin: 0;
    padding: none;
    display: flex;
    justify-content: flex-end;
    box-shadow: none;
}
.submit-button {
    width: 8vw;
    height: 2vw;
    font-size: 1.1rem;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-label{
    font-weight: 700;
    font-size: 1.25rem;
    color: #262626;
}

.section1-wrapper, .section2-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.section1-wrapper > div:first-child, .section2-wrapper > div:first-child{
    border-right: thin solid rgb(231, 231, 231);
    padding-right: 25px;
    width: 50%;
}
.trueFalseGroup div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.subgroup-label{
    font-weight: 500;
    font-size: 1.1rem;
    font-style: italic;
}
.dateInputContainer{
    width: 650px;
}
.dateInputContainerRow{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(12, 1fr);
}

.dateInputContainer > .subgroup:first-child{
    margin-bottom: 20px;
}

.dateInputContainerRow > div{
    grid-column: span 6;
}
.dateInputContainerRow div:first-child{
    grid-column: span 12;
}
.dateInputContainerRow div:first-child input{
    text-align: center;
}
.dateInputContainerRow .ant-input-number{
    width: 100% !important;
}
.todays-date{
    position: absolute;
    top: 7px;
    right: 10px;
    color: rgb(181, 181, 181);
}
.minimumMaximumLabel{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #1980ff4f;
    text-transform: uppercase;
    font-weight: 600;
    gap: 110px;
    margin-right: 50px;
}
.minimumMaximumLabel p{
    margin: 0;
}
.minMaxGroup{
    width: 650px;
}

.ant-tag-checkable{
    background-color: rgb(252, 252, 252);
    margin-right: 4px;
}
.ant-tag-checkable-checked{
    background-color: #1980FF;
}

.tag-row{
    display: flex;
}
.tag-row p{
    width: 30%;
}
.tag-row span{
    padding: 4px 15px;
    border: thin solid rgb(242, 242, 242);
    border-radius: 4px;
}
.duoNumberInputContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.duoNumberInputContainer p {
    margin-block: auto;
    min-width: 200px;
    width: max-content;
}
.duoNumberInputContainer input{
    text-align: center;
}
.min-max-inputs{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
.min-max-inputs > div{
    width: 35%;   
}
.error-label-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
.error-label-row h2{
    margin-bottom: 0;
    padding-block: 8px;
}
.error-box{
    border: 2px solid rgb(255, 132, 132);
    background-color: rgba(255, 0, 0, 0.2);
    padding: 8px;
    border-radius: 4px;
    font-weight: 600;
    color: rgb(63, 63, 63);
}
.site-collapse-custom-collapse{
    background-color: white;
}
.email-section{
    width: 64.5%;
    display: flex;
    justify-content: space-between;
}
.email-section > div:last-child{
    border-left: thin solid rgb(231, 231, 231);
    padding-left: 15px;
}
.email-radio-container > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.subgroup > div{
    padding-left: 15px;
}
.email-tag-container input{
    width:20%;
}
